<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>mpHealth-2.0</feature>
    </featureManager>

    <keyStore id="defaultKeyStore" password="store_123"/>
    <basicRegistry id="basic" realm="BasicRealm">
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="8080"
                  httpsPort="8443" />

    <applicationManager autoExpand="true"/>

</server>